<div class="row center">
  <h4>Plan d'action</h4>
</div>
<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">format_list_numbered</i>
      <input placeholder="Étudier le CSS" id="p_action" type="text">
      <label for="p_action">Ajouter un élément au plan d'action</label>
    </div>
  </div>
  <br>
  <table id="actionsPlan" class="highlight centered">
    <thead>
      <tr>
        <th>Ordre du plan</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>