<div class="row center">
  <h4>Livrables</h4>
</div>
<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">playlist_add_check</i>
      <input placeholder="Réaliser une heatmap" id="p_deliverable" type="text">
      <label for="p_deliverable">Ajouter un livrable</label>
    </div>
  </div>
  <br>
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Livrable</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>