<div class="row center">
  <h4>Informations</h4>
</div>
<div class="row">
  <form class="col s12" action="">
    <input type="hidden" name="type" value="informations">
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">title</i>
        <input placeholder="Virtualisation" id="p_title" name="p_title" type="text">
        <label for="p_title">Titre du Prosit</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">link</i>
        <input placeholder="https://moodle-exia.cesi.fr/course/view.php?id=736" id="p_link" name="p_link" type="text">
        <label for="p_link">Lien du Prosit sur Moodle</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input placeholder="Allumer un feu" id="p_general" name="p_general" type="text">
        <label for="p_general">Généralisation</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <i class="material-icons prefix">assignment</i>
        <input placeholder="Fred et Jammy cherchent la réponse à la vie" id="p_context" name="p_context" type="text">
        <label for="p_context">Contexte</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">accessibility</i>
        <input placeholder="John Doe" id="p_anim" name="p_anim" type="text">
        <label for="p_anim">Animateur</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="John Doe" id="p_scribe" name="p_scribe" type="text">
        <label for="p_scribe">Scribe</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="John Doe" id="p_gestion" name="p_gestion" type="text">
        <label for="p_gestion">Gestionnaire</label>
      </div>
      <div class="input-field col s6">
        <i class="material-icons prefix">account_circle</i>
        <input placeholder="John Doe" id="p_secretary" name="p_secretary" type="text">
        <label for="p_secretary">Secrétaire</label>
      </div>
    </div>
  </form>
</div>