<div class="row center">
  <h4>Problématiques</h4>
</div>
<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">help</i>
      <input placeholder="Comment déchiffrer le schéma ?" id="p_problematic" type="text">
      <label for="p_problematic">Ajouter une problématique</label>
    </div>
  </div>
  <br>
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Problématique</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>