<div class="row center">
  <h4>Paramètres</h4>
</div>
<div class="row">
  <div class="switch center">
    <label class="black-text settingsLabel" style="font-size: 20px">
      Thème clair
      <input type="checkbox">
      <span class="lever"></span>
      Thème sombre
    </label>
  </div>
  <br>
  <h5>Choix du modèle</h5>
  <ul id="models" class="collection" style="border-radius: 5px"></ul>
  <a id="addTemplate" class="waves-effect waves-dark btn-large dp-violet lighten-1 white-text"><i class="material-icons left">note_add</i>Ajouter
    un modèle</a>
</div>

