<div class="row center">
  <h4>Pistes de solutions</h4>
</div>
<div class="row">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">bookmark</i>
      <input placeholder="Le modèle OSI est composé de plusieurs couches" id="p_solution" type="text">
      <label for="p_solution">Ajouter une piste de solution</label>
    </div>
  </div>
  <br>
  <table class="highlight centered">
    <thead>
      <tr>
        <th>Piste de solution</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody></tbody>
  </table>
</div>