#navLinks, .modal, .modal-footer {
  background-color: #202225 !important;
}

#navLinks *, main *, .modal {
  color: #BBB;
}

.settingsLabel, .modal-footer {
  color: #BBB !important;
}

::placeholder {
  color: rgba(255, 255, 255, 0.1);
}

table.highlight>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.15);
}

.activeLink {
  background-color: rgba(0, 0, 0, 0.15);
}

.divider {
  background-color: #2f3136;
}

html, main {
  background-color: #2f3136;
}
