@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  font-family: 'Oxygen', serif;
}

body {
  text-align: center;
}

nav {
  background: #FFF;
  z-index: 999;
  box-shadow: none;
}

.container-fluid {
  width: 100vw;
}

.draggable {
  -webkit-app-region: drag;
}

.chips .input {
  width: 100% !important;
}

.nav-wrapper > a, .nav-wrapper * {
  color: rgb(0, 0, 0, 0.4);
}

.nav-wrapper ul li a {
  -webkit-app-region: no-drag;
}

.nav-wrapper ul .close-window:hover {
  background-color: #D32F2F;
}

.prositForm {
  margin-top: 60px;
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
}

.input-field .prefix.active {
  color: #1D976C !important;
}

.input-field input[type=text]:focus + label {
  color: #1D976C !important;
  box-shadow: none !important;
}

.input-field textarea:focus + label {
  color: #1D976C !important;
  box-shadow: none !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.nav-wrapper a i {
  transition: color 300ms ease-in-out;
}

.nav-wrapper a:hover i {
  color: #FFF !important;
}

.chips {
  text-align: left;
}

.chips.focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.chip:focus {
  background-color: #1D976C !important;
}

.tabs .tab a:hover, .tabs .tab a.active, .tabs .tab a {
  color: #1D976C;
}

.tabs .tab a:focus, .tabs .tab a:focus.active {
  background-color: rgba(29, 151, 108, 0.2);
}

.tabs .indicator {
  background-color: #1D976C; 
}

.generate {
  background: #1D976C;
}

.generate:first-child {
  margin-right: 20px;
}