@import url('https://fonts.googleapis.com/css?family=Oxygen');

* {
  font-family: 'Oxygen', serif;
}

body {
  text-align: center;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  background: #FFF;
  z-index: 999;
  box-shadow: none;
}

.container-fluid {
  margin-top: 65px;
  width: 100vw;
}

.draggable {
  -webkit-app-region: drag;
}

.chips .input {
  width: 135px !important;
}

.nav-wrapper > a, .nav-wrapper * {
  color: rgb(0, 0, 0, 0.4);
}

.nav-wrapper ul li a {
  -webkit-app-region: no-drag;
}

.prositForm {
  width: 100%;
  background-color: #FFF;
  border-radius: 10px;
}

.input-field .prefix.active {
  color: #1D976C !important;
}

.input-field input[type=text]:focus + label {
  color: #1D976C !important;
  box-shadow: none !important;
}

.input-field textarea:focus + label {
  color: #1D976C !important;
  box-shadow: none !important;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.input-field textarea:focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.nav-wrapper a i {
  transition: color 300ms ease-in-out;
}

.nav-wrapper a:hover i {
  color: #FFF !important;
}

.chips {
  text-align: left;
}

.chips.focus {
  border-bottom: 1px solid #1D976C !important;
  box-shadow: none !important;
}

.chip:focus {
  background-color: #1D976C !important;
}

.generate {
  background: #1D976C;
}

.generate:first-child {
  margin-right: 20px;
}